<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cliente</h5>
    <p class="card-text">
      <strong>Nombre:</strong> <%= cliente.nombre %>
    </p>
    <p class="card-text">
      <strong>Apellido:</strong> <%= cliente.apellido %>
    </p>
    <p class="card-text">
      <strong>Dirección:</strong> <%= cliente.direccion %>
    </p>
    <p class="card-text">
      <strong>Teléfono:</strong> <%= cliente.telefono %>
    </p>
    <p class="card-text">
      <strong>Email:</strong> <%= cliente.email %>
    </p>
  </div>
</div>
