<%= form_for [@mascota, @registro_medicos] do |form| %>
  <% if registro_medico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(registro_medico.errors.count, "error") %> prohibited this registro_medico from being saved:</h2>

      <ul>
        <% registro_medico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :historial_medico, style: "display: block" %>
    <%= form.text_area :historial_medico %>
  </div>

  <div>
    <%= form.label :notas, style: "display: block" %>
    <%= form.text_area :notas %>
  </div>

  <div>
    <%= form.label :mascota_id, style: "display: block" %>
    <%= form.text_field :mascota_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
