<div id="<%= dom_id citum %>">
  <p>
    <strong>Fecha:</strong>
    <%= citum.fecha %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= citum.hora %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= citum.duracion %>
  </p>

  <p>
    <strong>Veterinario:</strong>
    <%= citum.veterinario_id %>
  </p>

  <p>
    <strong>Mascota:</strong>
    <%= citum.mascota_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= citum.estado %>
  </p>

</div>
